In [5]:
import numpy as np
import pandas as pd

In [6]:
class CustomOls:
    def __init__(self):
        self.m=None
        self.c=None
    
    def fit(self,X_train,y_train):
        pass
    
    def predict(self,X_test):
        pass

In [7]:
np.random.seed(42)

# Generate random data for demonstration
data = {
    'Size_of_House': np.random.randint(1000, 3000, 10),  # Random size values between 1000 and 3000 sq. ft.
    'Price': np.random.randint(50000, 200000, 10) * 1000,  # Random price values between $50,000 and $200,000
}

# Create a DataFrame
df = pd.DataFrame(data)

In [8]:
df

   Size_of_House      Price
0           2126  137498000
1           2459  162727000
2           1860  176324000
3           2294   66023000
4           2130   91090000
5           2095  117221000
6           2724  114820000
7           2044   50769000
8           2638  109735000
9           1121  114925000